@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loading</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding: 0 0 0 0; background-color:white; height:100vh;">
    @if (TempData["Import_error"] != null)
    {
        <div class="modal" tabindex="-1" role="dialog" style="display:block" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Error!</h3>
                    </div>
                    <div class="modal-body">
                        <h4>@TempData["Import_error"].ToString()</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="buttonclose" style="background-color:#9c301a; color:white">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var modal = document.getElementById("modal");
            var btn = document.getElementById("buttonclose");

            btn.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    }
    <div style="background-color:#9c301a; height:7.5vh;">
        <div style="display:flex; padding-left:20px;">
            <img src="~/Resources/Logo.png" style="height:75px; width:180px; cursor:pointer" onclick="@("window.location.href='" + @Url.Action("Home", "Home") + "'")" />
            <div style="width:75%; text-align:center; height:75px">
                <div style="font-size:large; font-family:Arial sans-serif; font-weight:bold; color:white; padding-top:20px">
                    LOADING
                </div>
            </div>
            <div style="width:220px; height:75px; display:flex; justify-content:space-around">
                <div style="font-size:large; font-family:Arial sans-serif; color:white; padding-top:20px;">
                    @Session["Username"].ToString()
                </div>
                <div class="form-group" style="text-align:center; padding:20px 0 0 0">
                    <div class="col-md-offset-2 col-md-10" style="margin-left:0; margin-right:0;">
                        <input value="Logout" class="btn btn-primary" style="background-color:lightslategray; border-color:lightslategray; width:100px" onclick="@("window.location.href='" + @Url.Action("Logout", "Login") + "'")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:50px; padding-left:50px; width:35vw">

        <div class="col-md-12">
            Please upload an <strong>
                Excel file <u>(.xlsx)</u>
            </strong> that has only <strong>one sheet</strong>.
        </div>
        <div class="form-group mt-3 col-md-12">
            <div class="d-flex flex-column justify-content-start mr-2">
                <label class="col-form-label justify-content-start">Excel file</label>
                <div style="display:flex; justify-content:flex-start">
                    @using (Html.BeginForm("LoadData", "Loading", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input id="fileUpload" name="fileUpload" accept=".xlsx" type="file" class="form-control" style="height: auto;">
                        <button type="submit" class="btn btn-primary" disabled="" style="background-color:#9c301a; border:none; margin-top:10px" id="upload">
                            Upload
                        </button>
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-offset-2 col-md-10" style="margin-left:0; margin-right:0; display:flex; justify-content:space-between; align-items:center; width:100%">
                <input value="Back" class="btn btn-primary" style="background-color:#9c301a; border-color:#9c301a; width:60px" onclick="@("window.location.href='" + @Url.Action("Home", "Home") + "'")">
                <a style="cursor:pointer" onclick="@("window.location.href='" + @Url.Action("DownloadTemplate", "Loading") + "'")">
                    Download template
                </a>
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $(document).ready(
            function () {
                $('#fileUpload').change(
                    function () {
                        if ($(this).val()) {
                            $('#upload').attr('disabled', false);

                        }
                    }
                );
            });
    </script>
</body>
</html>
