@model DISERTATIE_5.Models.EditPhone

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditPhone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding: 0; background-color:#3a3a3c">
    @if (TempData["ErrorEditPhone"] != null)
    {
        <div class="modal" tabindex="-1" role="dialog" style="display:block" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Error!</h3>
                    </div>
                    <div class="modal-body">
                        <h4>@TempData["ErrorEditPhone"].ToString()</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="buttonclose" style="background-color:#9c301a; color:white">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var modal = document.getElementById("modal");
            var btn = document.getElementById("buttonclose");

            btn.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    }
    <div style="background-color:#9c301a; height:75px;">
        <div style="display:flex; padding-left:20px;">
            <img src="~/Resources/Logo.png" style="height:75px; width:180px; cursor:pointer" onclick="@("window.location.href='" + @Url.Action("Home", "Home") + "'")" />
            <div style="width:75%; text-align:center; height:75px">
                <div style="font-size:large; font-family:Arial sans-serif; font-weight:bold; color:white; padding-top:20px">
                    CASES
                </div>
            </div>
            <div style="width:220px; height:75px; display:flex; justify-content:space-around">
                <div style="font-size:large; font-family:Arial sans-serif; color:white; padding-top:20px;">
                    @Session["Username"].ToString()
                </div>
                <div class="form-group" style="text-align:center; padding:20px 0 0 0">
                    <div class="col-md-offset-2 col-md-10" style="margin-left:0; margin-right:0;">
                        <input value="Logout" class="btn btn-primary" style="background-color:lightslategray; border-color:lightslategray; width:100px" onclick="@("window.location.href='" + @Url.Action("Logout", "Login") + "'")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:50px">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="color:white">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="width:100%; display:none">
                    @Html.LabelFor(model => model.phone_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.phone_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="width:100%">
                    @Html.LabelFor(model => model.main, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.main)
                            @Html.ValidationMessageFor(model => model.main, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group" style="width:100%">
                    @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="padding-top:7px; color:black">
                        @Html.DropDownListFor(model => model.type, new SelectList(ViewBag.PhoneTypes), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="width:100%">
                    @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="width:100%">
                    @Html.LabelFor(model => model.source, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="padding-top:7px; color:black">
                        @Html.DropDownListFor(model => model.source, new SelectList(ViewBag.SourceTypes), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.source, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="width:100%">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Modify" class="btn btn-default" style="background-color:#9c301a; color:white; border:none" />
                    </div>
                </div>
            </div>
        }

        <div class="form-group" style="text-align:center; padding:20px 0 0 0">
            <div class="col-md-offset-2 col-md-10" style="margin-left:0; margin-right:0;">
                <input value="Back" class="btn btn-primary" style="background-color:#9c301a; border-color:#9c301a; width:60px" onclick="@("window.location.href='" + @Url.Action("Case", "Cases", new { case_id = ViewBag.EditAddressCase }) + "'")">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
