@model DISERTATIE_5.Models.EditLegalFile

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditLegalFile</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding: 0; background-color:#3a3a3c">
    @if (TempData["ErrorAddLegalFile"] != null)
    {
        <div class="modal" tabindex="-1" role="dialog" style="display:block" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Error!</h3>
                    </div>
                    <div class="modal-body">
                        <h4>@TempData["ErrorAddLegalFile"].ToString()</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="buttonclose" style="background-color:#9c301a; color:white">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var modal = document.getElementById("modal");
            var btn = document.getElementById("buttonclose");

            btn.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    }
    <div style="background-color:#9c301a; height:75px;">
        <div style="display:flex; padding-left:20px;">
            <img src="~/Resources/Logo.png" style="height:75px; width:180px; cursor:pointer" onclick="@("window.location.href='" + @Url.Action("Home", "Home") + "'")" />
            <div style="width:75%; text-align:center; height:75px">
                <div style="font-size:large; font-family:Arial sans-serif; font-weight:bold; color:white; padding-top:20px">
                    LEGAL
                </div>
            </div>
            <div style="width:220px; height:75px; display:flex; justify-content:space-around">
                <div style="font-size:large; font-family:Arial sans-serif; color:white; padding-top:20px;">
                    @Session["Username"].ToString()
                </div>
                <div class="form-group" style="text-align:center; padding:20px 0 0 0">
                    <div class="col-md-offset-2 col-md-10" style="margin-left:0; margin-right:0;">
                        <input value="Logout" class="btn btn-primary" style="background-color:lightslategray; border-color:lightslategray; width:100px" onclick="@("window.location.href='" + @Url.Action("Logout", "Login") + "'")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:50px">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.legalFileID)

                <div class="form-group" style="max-width:100%">
                    @Html.LabelFor(model => model.fileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fileNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="max-width:100%">
                    @Html.LabelFor(model => model.court, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.court, new SelectList(ViewBag.Courts), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.court, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="max-width:100%">
                    @Html.LabelFor(model => model.bailiff, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.bailiff, new SelectList(ViewBag.Bailiffs), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.bailiff, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="max-width:100%">
                    @Html.LabelFor(model => model.lawyer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.lawyer, new SelectList(ViewBag.Lawyers), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.lawyer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="max-width:100%">
                    @Html.LabelFor(model => model.notary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.notary, new SelectList(ViewBag.Notaries), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.notary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="max-width:100%">
                    @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @max = DateTime.Today.ToString("yyyy-MM-dd"), @min = "2000-01-01" } })
                        @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="max-width:100%">
                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.status, new SelectList(ViewBag.Statuses), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="width:100%">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" style="background-color:#9c301a; color:white; border:none; width:100px" />
                    </div>
                </div>
            </div>
        }

        <div class="form-group" style="text-align:center; padding:20px 0 0 0">
            <div class="col-md-offset-2 col-md-10" style="margin-left:0; margin-right:0;">
                <input value="Back" class="btn btn-primary" style="background-color:#9c301a; border-color:#9c301a; width:100px" onclick="@("window.location.href='" + @Url.Action("Case", "Cases", new { case_id = ViewBag.CaseID }) + "'")">
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
